body 
{
    margin: 0;
    height: 100vh;
    background-color: #181e2a;
    overflow: hidden;
    background-image: url(images/PO-BG.png);

    background-color: #181e2a;
    background-repeat: no-repeat;
    background-size: cover;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}
.logo img {
    position: absolute;
    width: 280px;
    height: 280px;
    top: 1vh; /* 5% of the viewport height from the top */
    left: 5vw; /* 10% of the viewport width from the left */
}


/* .title h1
{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #bfb9ed;
    font-size: 260px;
    margin-top: 200px;
    margin-bottom: 0;
    letter-spacing: 20px;
    font-weight: bold;
} */
/* .title h2
{
    font-family: "Poppins", sans-serif;
    text-align: center;
    color: #bfb9ed;
    font-size: 80px;
    margin: 0;
    font-weight: 100;
    font-style: italic;
} */
 .title
 {
    text-align: center;
    color: #bfb9ed;
 }
.title h1 
{
    font-family: "Poppins", sans-serif;
    /* text-align: center; */
    /* color: #bfb9ed; */
    font-size: 11vw; /* 10% of the viewport width */
    letter-spacing: 1.042vw; /* Adjust spacing relative to width */
    font-weight: bold;
    margin-top: 20%;
    margin-bottom: 0;
}

.title h2 
{
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    /* text-align: center; */
    /* color: #bfb9ed; */
    font-size: 3vw; /* Scales with the width */
    /* margin: -65px 0 0 0; */
    line-height: 1.701;
    letter-spacing: 0.5vw;
    position: absolute;
    left: 23.5vw;
    top: 50vh;
}
.title p
{
    position: absolute;
    font-family: "Poppins", sans-serif;
    padding-top: 10vh;
    /* text-align: center; */
    /* color: #bfb9ed; */
    margin: 0;
    width: 50vw;
    padding-left: 15%;
    font-weight: 200;
    left: 23.5vw;
    top: auto;
}



